
body {
    background-color: darkgray;
}

.cabecalho{
    background-color: dimgray;
    border-radius:0px 0px 0px 90px;
}

.cabecalho__imagem{
    width: 320px;;
    height: 200px;;
    margin: 30px 30px 30px 120px;;
    
    }