*{
    margin: 0%;
    padding:0%;
    
    }
    body{ 
    background-color: #Ffffff;
    font-family: 'Sono', sans-serif;
    }
    
    .cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(192, 13, 13);
    border-radius: 0px 0px 0px 150px;
    
    }
    
    .cabecalho__imagem{
    
        width: 130px;
        height: 157px;
        border-radius: 600px;
      
       
    }
    .cabecalho__menu{
    
        display: inline;
    }
    .cabecalho__menu-item{
        display: inline;
        margin-left: 20px;
        color:rgb(17, 7, 112);
        font-size: 32px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
    
    .escola{
    
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #052f06;
        border-radius: 40px;
        margin: 20px;
    }
    
    .escola__div{
        display: inline;
        width: 200px;
        height: auto ;
    }
    
    .escola__imagem{
        width: 200px;
        height: auto;
        margin-left: 40px;
    }
    
    .professores {
        text-align: center;
        background-color: rgb(43, 13, 74);
        border-radius: 40px;
        margin: 20px;
    }
    .professores__div{
        text-align: center;
    }
    .professores__div-imagem{
        width: 120px;
        height: auto;
    
    }